@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat:wght@700&family=Open+Sans:wght@300&display=swap")
    
$main_dark: #0f0f0f
$main_red: #C63637
$main_light: #FBFAF8
$bebas: "Bebas Neue"
$montserrat: "Montserrat", sans-serif
$open: "Open Sans", sans-serif

@import _reset.css

@mixin border($color)
    text-shadow: -1px -1px 0 $color, 1px -1px 0 $color,-1px 1px 0 $color,1px 1px 0 $color

@mixin font($ff,$fs,$fw,$color,$ls)
    font-family: $ff
    font-size:$fs
    font-weight: $fw
    color: $color
    letter-spacing: $ls
    

// html    
//     overflow-y: hidden

*
    color: $main_light
body
    background-color: $main_dark    
.logo
    width: 190px
// .container
//     display:flex
//     justify-content: space-between
    // margin: auto
p
    @include font($open,.9em,normal,$main_light,normal)

.vertical-text
    height: 100%
    writing-mode: vertical-rl
    text-orientation: mixed
    transform: rotate(180deg)

.border-font
    @include font($bebas,10rem,400,$main_dark,auto)
    @include border($main_light)    

.border-font-vertical
    @extend .vertical-text
    @include font($bebas,20rem,400,$main_dark,.1em)
    @include border($main_light)

.bebas
    font-family: $bebas
.open
    font-family: $open
.montserrat
    font-family: $montserrat
.m-auto
    margin: auto !important
.bg-light
    background-color: $main_light
.section
    padding: 10rem 1.5rem