$main_dark: #0f0f0f
$main_red: #C63637
$main_light: #FBFAF8

.swiper-slide
    &:hover
        cursor: grab
    figure
        height: 510px
        img
            width: 100%
            height: 100%
            object-fit: cover
            transition: all .3s ease-out
            &:hover
                transform: scale(1.05)                
                transition: all .3s ease-in


.index-main
    display: grid
    grid-template-columns: 450px auto
    grid-template-rows: 93% 7%
    max-width: 100%
    // background-color: red
    height: 100vh
    //overflow: hidden
    aside        
        display: flex
        flex-direction: column
        justify-content: center
        padding: 0 50px
        background-color: $main_dark
        grid-row: 1/3
        color: $main_light
    .swiper-container 
        width: 100%
        padding: 15em 0px 0px 2em
        position: relative
        bottom: 0
        .swiper-wrapper
            .swiper-slide 
                display: flex
                align-items: center
                // figure
                //     width: 100%
        .swiper-scrollbar
            background-color: $main_red
            height: 2px
    .down-arrow
        margin: auto
        span
            transform: rotate(20deg)
            color: white
    .aside-buttons-container
        width: 100%
        display: flex
        justify-content: space-around

    