@import ./main

//Slider---------------------------------------------->
.swiper-slide
    &:hover
        cursor: grab
    figure
        height: 510px
        padding: 1%
        transition: all .2s ease-out
        box-sizing: border-box
        z-index: 1
        img
            width: 100%
            height: 100%
            object-fit: cover        
        figcaption
            @include font($open,12px,normal,$main_light,14px)
            text-transform: uppercase
            text-align: center
            position: relative
            top: -60px
            transform: scale(0)
            transition: all .2s ease-in
        h3
            @include font($bebas,48px,normal,$main_light,normal)
            position: absolute
            top: calc(50% - (48px/2))
            right: 0
            opacity: 0
            transition: all .2s ease-in
            z-index: 2
        &:hover            
            transform: scale(1.07)
            padding: 2%
            transition: all .3s ease-in
            position: inherit
            z-index: 2
            > figcaption
                transform: scale(1)
                transition: all .3s ease-out
            > h3
                transform: translate(25%,0)                
                opacity: 1
                transition: all .3s ease-in
                cursor: pointer
            
//End Slider ----------------------------------------->
//Asider---------------------------------------------->

.main-index
    height: 95vh
    .main-top
        height: 80%
    .main-bottom
        height: 20%
    .down-arrow
        span
            transform: rotate(90deg)
            color: white
            margin: auto
            cursor: pointer
    .aside-social-container
        height: 120px

//End Aside----------------------------------------------->
//Counter----------------------------------------------->
.counter-container
    background-color: black
    height: 300px
    div
        height: 100%
        h2
            color: $main_light
            font-size: 235px
            font-family: $bebas
            line-height: 1.25

//End Counter----------------------------------------------->
//Start Skills--------------------------------------------->
.tab-nav
    .tab-nav-items
        border-bottom: solid 2px #707070
        li
            @include font($bebas,1em,normal,$main_light,normal)
.tab-container
    .tab-content
        padding-top: 1em
        div
            display: grid
            grid-template-columns: auto auto auto auto
            grid-gap: 7em
            justify-content: center
            .skill
                background-color: transparent
                border: solid 1px $main_light
                height: 210px
                width: 210px
                font-family: $bebas
                color: $main_light
                transition: all .2s
                &:hover
                    color: $main_dark
                    background-color: $main_light
                    transition: all .2s
                    box-shadow: 0px 0px 15px $main_light
                    cursor: pointer
//End Skills----------------------------------------------->