// +---------------------------
// |Header
// +---------------------------
@import ./config

/** header
    display: flex
    background-color: $main_dark
    justify-content: space-between
    align-items: center
    position: absolute
    width: 100%
    z-index: 2
    padding: 0 50px
    height: 100px
    .bars
        svg
            position: absolute
            left: 10px
            top: 10px
            cursor: pointer
            width: 75px            
            path
                stroke-width: 25
                stroke-linecap: round
                stroke: #fff
                fill: none
                transition: all .5s ease-in-out
 **/
.main-button
    border: solid 1px $main_red
    padding: 10px 20px
    font-family: $montserrat
    color: $main_red
    text-decoration: none
    box-shadow: 8px 8px 0px $main_red
    transition: all 0.3s
    background-color: transparent
    cursor: pointer
    &:hover
        background-color: $main_red
        box-shadow: 0px 0px 0px $main_red
        color: $main_dark
.menu-bars
    color: $main_light
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center
    div
        cursor: pointer
        span
            display: block
            margin-bottom: 5px
            width: 40px
            height: 2px
            background-color: $main_light

.sticky_bars
    position: fixed
    z-index: 2
    top: 150px
    left: -100%
    .xs-text
        background-color: black
        color: $main_light
        padding-left: 15px
        width: 100%
        display: flex
        flex-direction: column
        justify-content: center
        align-items: center
        div
            cursor: pointer
            span
                display: block
                margin-bottom: 5px
                width: 40px
                height: 2px
                background-color: $main_light
    .media-icons
        width: 100%
        margin-left: 15px
        li
            margin-top: 20px
            background-color: $main_light
            text-align: center
            height: 50px
            width: 50px
            display: flex
            align-content: center
            align-items: center
            border-radius: 25px
            cursor: pointer
            img
                width: 20px
                margin: auto

nav
    background-color: $main_dark
    height: 100vh
    width: 100%
    position: fixed
    left: -100%
    transition: all .3s ease-in-out
    z-index: 3
    padding: 50px
    > span
        color: white
    ul
        height: 100%
        position: relative
        display: flex
        flex-direction: column
        justify-content: space-around
        li
            @include font($bebas,10em,normal,$main_light,normal)
.open-menu
    left: 0 !important
    transition: all .5s ease-in-out
    cursor: pointer
footer
    background-color: #000
    padding: 50px 50px 0 50px
    .top-container
        img
            width: 175px
    .container
        padding: 50px 0
        width: 75%
        display: flex
        align-items: center
        .footer-links
            display: flex
            ul
                margin-right: 100px
                .list-top
                    @include font($montserrat,18px,normal,$main_red,normal)
                li
                    @include font($open,16px,bold,$main_light,normal)
        .footer-newsletter
            input[type=text]
                width: 400px
                outline: 0
                background-color: transparent
                border: solid 1px $main_red
                padding: 10px 20px
                @include font($open,14px,normal,$main_light,normal)
                margin-right: 1em
    .bottom-container
        border-top: solid 1px $main_red
        padding: 10px
        @include font($open,16px,normal,$main_light,1px)